body{
    background-color:antiquewhite;
}
#welcome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
.profileContainer{
    display: block;
    align-items: center;
    text-align: center;
}
.profileClass{
    margin-bottom: 10px;
    width: 30%;
    font-size:x-large;
}
.error {
    color: #FF0000;
}
#profileSubmit{
    font-size: x-large;
    border-radius: 10%;
}
#profileSubmit:hover{
    cursor: pointer;
    font-weight: bolder;
    background-color: blue;
}

#icon{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;  
}